<div ng-controller="UsersController as UC">


  <div class = "row xSpc xSpc2">
    <div class = "col-xs-2 col-sm-4 col-md-4 col-lg-8">
      <h3 class = "greenblock">Register New User</h3>
    </div>
  </div>
  <div class = "row xSpc">
    <div class = "col-xs-2 col-sm-4 col-md-4 col-lg-8">
      <form>
          Name: <input type='text' ng-model='UC.newUser.name'>
          <input type='submit' value='Register' ng-click='UC.addUser(UC.newUser)'>
      </form>
      <p class='errors' ng-repeat="error in UC.regErrors"> {{error}} </p>
    </div>
  </div>

  <div class = "row xSpc">
    <div class = "col-xs-2 col-sm-4 col-md-4 col-lg-8">
      <h3 class = "greenblock">Login</h3>
    </div>
  </div>
  <div class = "row xSpc">
    <div class = "col-xs-2 col-sm-4 col-md-4 col-lg-8">
      <form>
        Name: <input type="text"  ng-model = "UC.userLog.name">
        <input type="submit" value = "Login" ng-click='UC.loginUser(UC.userLog)'>
      </form>
      <p class='errors' ng-repeat="error in UC.logErrors track by $index"> {{error}} </p>
    </div>
  </div>

  <div class = "row xSpc xSpc2">
    <div class = "col-xs-2 col-sm-4 col-md-4 col-lg-8">
      <h3 class = "greenblock">Developer View: Track Users</h3>
    </div>
  </div>
  <div class = "row xSpc">
    <div class = "col-xs-2 col-sm-4 col-md-4 col-lg-8">
        <table ng-init = "UC.index()" class = "table table-hover">
          <tr><th>Name</th></tr>
          <tr ng-repeat="user in UC.users track by $index">
            <td>{{user.name}}</td>
          </tr>
        </table>
    </div>
  </div>


</div>
