<div ng-controller="QuestionsController as QC">

<div ng-init = "UC.session()">
  <h1>Welcome {{UC.user.name}}</h1>
  <a href = '/#!/postSurvey' >Post a Question</a>
  <a href = "#" ng-click = "UC.logout()" >Logout</a>
</div>

  <input type="text" ng-model="search.question">
  <table ng-init = "QC.index()">
    <tr><th> Name |</th><th>Question |</th><th> Date Posted |</th><th> Action</th></tr>
    <tr ng-repeat="question in QC.questions | filter:search:strict track by $index">
      <td>{{question.user.name}}</td>
      <td><a href = "#" ng-click = "QC.showQuestion(question._id)" >{{question.question}}</a></td>
      <td>{{question.createdAt|date:'mediumDate'}}</td>
      <td><button ng-click= "QC.deleteQuestion(question._id)" ng-if="question.user._id == UC.user._id">Delete</button></td>
    </tr>
  </table>

  </div>
